<h1>Hello world!</h1>

<% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <%= current_user.email unless !current_user %>
  <li>
    <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
